<p>
  <strong>Вопрос</strong>
  <%= @question.body %>
</p>

<h2>Ответы</h2>

<%= link_to "Новый Ответ", new_question_answer_path(@question) %>

<ol>
	<%= render @question.answers %>
</ol>

<%= link_to "Редактировать вопрос", edit_question_path(@question) %> |
<%= link_to "Назад", @question.test %>
<br><br>

<p><%= render "shared/footer" %></p>