<%= form_with model: [:admin,  @badge], local: true do |form| %>
  <%= render "shared/errors", resource: @badge %>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :badge_title %>
  </p>

  <p>
    <%= form.label :img_url %>
    <%= form.text_field :img_url, id: :badge_img_url %>
  </p>

  <p>
    <%= form.label :rule %>
    <%= form.select :rule, [ [t('.success_category'), Badge::RULES[0]], 
                             [t('.success_on_first_try'), Badge::RULES[1]], 
                             [t('.success_all_level'), Badge::RULES[2]]
                           ],
                           prompt: true %>
  </p>

    <p><%= form.submit %></p>
<% end %>