<h3 class="text-center mt-4"><%= t('.header') %></h3>

<div class="container">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col" class="col-md-3"><%= t('.email') %></th>
        <th scope="col" class="col-md-6"><%= t('.question') %></th>
        <th scope="col" class="col-md-3"><%= t('.url') %></th>
      </tr>
    </thead>

    <tbody>
        <%= render @gists %>
    </tbody>
  </table>
</div>