<h1><%= t('.header', title: @test_passage.test.title) %></h1>
  <h2>
    <% if @test_passage.success? %>
      <p color: rgb(255, 0, 0)>
        <%= t('.result') %><span class="success"><%=@test_passage.percent_correct %>%</span>. <%= t('.success') %>
      </p>
    <% else %>
      <p color: rgb(0, 255, 0)>
         <%= t('.result') %><span class="fail"><%=@test_passage.percent_correct %>%</span>. <%= t('.fail') %>
      </p>
    <% end %>
</h2>

<p><%= link_to t('.link_back'), tests_path %></p>
