<p class="nav user"><%= link_to 'Тест Гуру', root_path %></p>
<% if user_signed_in? %>
      <p class="nav user">
        Привет, <b><%= current_user.email %></b> Guru
        <%= link_to "Выход", destroy_user_session_path, method: :delete %>
      </p>
<% else %>
  <p class="nav user">
    <%= link_to 'Регистрация', new_user_registration_path %> |
    <%= link_to 'Войти', new_user_session_path %>
  </p>
<% end %>