<p class="nav user"><%= link_to 'Тест Гуру', root_path %></p>
<% if logged_in? %>
  <p class="nav user">
    Welkom, <b><%= current_user.name %></b> Guru <br>
    <%= link_to 'Выход', logout_path, method: :delete %>
  </p>
<% else %>
  <p class="nav user">
    <%= link_to 'Регистрация', signup_path %> |
    <%= link_to 'Войти', login_path %>
  </p>
<% end %>