<p>
  <strong><%= t('.header') %></strong>
  <%= @question.body %>
</p>

<h2><%= t('.answers') %></h2>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
	<%= render @question.answers %>
</ol>

<%= link_to t('.edit_question'), edit_admin_question_path(@question) %> |
<%= link_to t('admin.actions.back'), admin_test_path(@question.test) %>
<br><br>
