<%= form_with model: [:admin,  @test], local: true do |form| %>
  <%= render "shared/errors", resource: @test %>
  

  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.text_field :level, id: :test_level %>
  </p>

  <p>
    <%= form.label :timer %>
    <%= form.number_field :timer, min: 0, id: :test_timer , class: 'timer' %>
  </p>

  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, 
                                Category.all, :id, :title, 
                                prompt: true %>
  </p>

  <p>
    <%= form.label :ready %>
    <%= form.check_box :ready, id: :test_ready %>
  </p>
  
  <p><%= form.submit %></p>
<% end %>