<div class="row justify-content-center mt-3">
  <div class="col col-md-6"><h1><%= t('.header') %></h1></div>
  <div class="col-12">
    <p><%= link_to t('.new_test'), new_admin_test_path %></p>

    <table class="table table-hover">
      <thead class="table align-middle">
        <tr>
          <th scope="col"><%= t('tests.index.title') %></th>
          <th scope="col"><%= t('tests.index.category') %></th>
          <th scope="col"><%= t('tests.index.level') %></th>
          <th scope="col"><%= t('tests.index.questions') %></th>
          <th scope="col", colspan="3", class="text-center" ><%= t('tests.index.actions') %></th>
        </tr>
      </thead>
      <tbody>
      <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>