<p>
  <strong><%= t('.test') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>

<h3><%= t('.questions') %></h3>
<table>
  <%= render @test.questions %>
</table>
<br>
<%= link_to t('.edit_test'), edit_admin_test_path(@test) %> 
<%= link_to t('admin.actions.back'), admin_tests_path %>
<br><br>
