<div class="row justify-content-center mt-3">
  <div class="col col-md-6"><h1><%= t('.header') %></h1></div>
  <div class="col-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>      
        </th>
        <th><%= t('.category') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.questions') %></th>
        <th><%= t('.timer') %></th>
        <th><%= t('.actions') %></th>
      </tr>
   </thead>
      <tbody class="table-striped">
        <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>